<br />
<hr />

<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Account Home</a></li>
    <li><a href="#tab2" data-toggle="tab">Allocation List</a></li>
    <li><a href="#tab3" data-toggle="tab">Payment History</a></li>
    <li><a href="#tab4" data-toggle="tab">Service Requests</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <p>I'm in Account Home section.</p>
      <p class="lead">User: <%= @user.email %></p>
      <p class="text-info"> Number of Allocations: <%= @user.allocations.count %> </p>
      <p class="text-info"> Configured Max Allocations: <%= @user.max_allocs %> </p>
      <p class="text-info"> Configured Max Concurrent Allocations: <%= @user.max_concur_allocs %> </p>
      <p class="text-info"> Realm: <%= @user.realm %> </p>
      <p class="text-info"> Default Lifetime : <%= @user.def_lifetime %> </p>
      <p class="text-info"> Maximum Bandwidth : <%= @user.max_bandwidth %> </p>
      <p class="text-info"> TURN username : <%= @user.username %> </p>
      <hr />
    </div>
    <div class="tab-pane" id="tab2">
      <%= render 'layouts/allocation_table' %>
    </div>
    <div class="tab-pane" id="tab3">
      <p>Howdy, no past payments history!.</p>
    </div>
    <div class="tab-pane" id="tab4">
      <p>Howdy, no service requests here!.</p>
    </div>
  </div>
</div>

<hr />

