<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "MindBricks NAT Server", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",     root_path %></li>
          <li><%= link_to "Features", features_path %></li>
          <li><%= link_to "Blog",     blog_path %></li>
          <li><%= link_to "Sign In",  '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

